* {
    box-sizing: border-box;
    /* border: 2px black solid; */
    font-family: sans-serif;
}

body {
    display:flex;
    flex-direction: column;
    height:100%;
    margin: 0px;
    border: none;
}

.hero, .info, .quote {
    padding-bottom: 50px;
}

/* HERO SECTION STLYES*/
.logo {
    margin: 0px;
}

.hero-img {
    width: 0px;
}

.hero, .header, .hero-content, .hero-container {
    display: flex;
}

.hero * {
    color: white;
}

.hero {
    border-bottom: 3px black solid;
    background-color: #1f2937;
    justify-content: center;
}

.hero-container {
    flex-direction: column;
    flex: 0 1 800px;
}

.header {
    justify-content: space-between;
    flex: 1;
    margin: 20px 0px 80px 0px;
}

.header ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 50px;
    justify-content: flex-end;
}

.header ul li {
    margin:0px;
}

.hero-content {
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.hero-content h1 {
    margin: 0px;

}

.hero-words, .hero-img {
    flex: 0 1 400px;
}

.black {
    background-color: black;
    justify-self: stretch;
    height: 100px;
}

.hero button {
    background: #3882F6;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
}

/*INFO SECTION STYLES */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    border-bottom: 3px black solid;

}

.info-content {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.square {
    height: 100px;
    background-color: black;
    border-radius: 10px;
    border: 7px #3882F6 solid;
    flex-shrink: 0;
}

.content {
    flex: 0 1 200px;
    text-align: center;
}

/*QUOTE SECTION */

.quote {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-bottom: 3px black solid;
    background: #e5e7eb;

}

/* SIGN-UP SECTION*/

.sign-up {
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px black solid;
}

.sign-up-content {
    background: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3882F6;

}

.footer {
    text-align: center;
}